header {
  font-family: 'Fugaz One', cursive;
  font-size: 20px;
  text-align: center;
}

#mainhead {
  font-size: 150px;
  color: #e20d82;
}

header.nav {
  font-size: 20px;
  font-family: 'Neuton', serif;
}

h1 {
  font-family: 'Fugaz One', cursive;
  text-align: center;
  font-size: 55px;
}

.quicknav {
  margin: 4px;
  border: 2px solid #e20d82;
  padding: 40px;
  text-align: center;
}

.contactbox {
  font-family: 'Fugaz One', cursive;
  margin: 50px;
  border: 2px solid #e20d82;
  padding: 40px;
  text-align: center;
  font-size: 30px;
}

.quicknav h3 {
  font-size: 22px;
}

.bq01, .bq02  {
  font-family: 'Neuton', serif;
  margin-right: 20%;
  margin-left: 20%;
  color: #e20d82;
}

.bq02 {
  font-family: 'Neuton', serif;
  margin-right: 20%;
  margin-left: 20%;
}

.img {
  width: 100%;
}

#name {
  font-size: 30px;
}

.panel {
  margin: 5px;
}

h2, h3 {
  font-family: 'Fugaz One', cursive;
  color: #e20d82;
}

p {
  font-family: 'Rosario', sans-serif;
}

.ul01 {
  font-family: 'Rosario', sans-serif;
  list-style-type: none;
  text-align: center;
}

.ul02 {
  font-family: 'Rosario', sans-serif;
}

.row img {
  margin: 10px;
}

#copyright {
  font-family: 'Fugaz One', cursive;
  text-align: center;
}

.gallery img {
  width: 100%;
}

#important {
  font-weight: bold;
}

.rando {
  float: left;
  font-family: 'Fugaz One', cursive;
  margin: 50px;
  border: 2px solid #e20d82;
  padding: 40px;
  text-align: center;
  font-size: 30px;
}
