header {
  font-family: 'Fugaz One', cursive;
  font-size: 90px;
  text-align: center;
}

h1 {
  font-family: 'Fugaz One', cursive;
}

.quicknav {
  margin: 50px;
  border: 2px solid #e20d82;
  padding: 4px;
  text-align: center;
}

.quicknav h3 {
  font-size: 22px;
}

.bq01  {
  float: left;
  font-family: 'Neuton', serif;
}

.bq02 {
  font-family: 'Neuton', serif;
}

.img01 {
  width: 100%;
}

.img02 {
  float: right;
  width: 40%;
  margin: 10px 10px 10px 10px;
}

.panel {
  margin: 5px;
}

h2, h3 {
  font-family: 'Fugaz One', cursive;
}

p {
  font-family: 'Rosario', sans-serif;
}

.ul01 {
  font-family: 'Rosario', sans-serif;
  list-style-type: none;
  text-align: center;
}

#copyright {
  font-family: 'Fugaz One', cursive;
  text-align: center;
}

font-family: 'Overpass', sans-serif;
font-family: 'Vidaloka', serif;
font-family: 'Neuton', serif;

font-family: 'Julius Sans One', sans-serif;
font-family: 'Fugaz One', cursive;

font-family: 'Fredericka the Great', cursive;
font-family: 'Major Mono Display', monospace;
